<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add user</title>
  </head>
  <body>
    <form method="POST" action="/user/username/email/password">
      <label for="username"> userame:</label>
      <input type="text" name="username" placeholder="enter your username" />
      <br />
      <br />
      <label for="email"> email:</label>
      <input type="email" placeholder="enter your email" name="email" />

      <br />
      <br />

      <label for="password">password</label>
      <input
        type="password"
        placeholder="enter your password"
        name="password"
      />

      <button>Add</button>
    </form>
  </body>
</html>
